<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <customErrors mode="RemoteOnly" defaultRedirect="~/error.html">
      <error statusCode="404" redirect="/initializr/404.html" />
    </customErrors>
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <connectionStrings>
    <add name="ExpenseTracker"
         connectionString="Data Source=localhost;Initial Catalog=ExpenseTracker;Integrated Security=SSPI;Pooling=false;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.webServer>
    <handlers>
      <add name=".svc" verb="*" path="*.svc"
           type="System.ServiceModel.Activation.ServiceHttpHandlerFactory, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Manoj.ExpenseTracker.Web.ExpenseTrackerServiceAspNetAjaxBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="Manoj.ExpenseTracker.Web.ExpenseTrackerServiceAspNetAjaxBehavior1">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="Manoj.ExpenseTracker.Web.ExpenseTrackerService"
               behaviorConfiguration="Manoj.ExpenseTracker.Web.ExpenseTrackerServiceAspNetAjaxBehavior1">
        <endpoint address="" behaviorConfiguration="Manoj.ExpenseTracker.Web.ExpenseTrackerServiceAspNetAjaxBehavior"
                  binding="webHttpBinding" contract="Manoj.ExpenseTracker.Web.ExpenseTrackerService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>